:root {
  --primary: #3a1772;
  --primary-dark: #ddd92a;
  --primary-light: #eeefa8;
  --light: #fafdf6;
  --dark: #2d2a32;
  --green: #90a959;
  --red: #ce2d4f;
  --blue: #7dbdf5;
  --light-gray: #e0d8de;
}
