@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");

@font-face {
  font-family: "Gilroy-Light";
  src: url("./fonts/Gilroy-Light.otf");
  font-weight: 400;
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Light", sans-serif;
}

.react-datepicker__input-container input {
}

.react-datepicker__time-list-item--disabled {
  display: none;
}

.react-datepicker__triangle {
  left: -8px !important;
  display: none;
}
