:root {
    --primary: #eae151;
    --primary-dark: #ddd92a;
    --primary-light: #eeefa8;
    --light: #fafdf6;
    --dark: #2d2a32;
    --green: #90a959;
    --red: #ee522f;
    --blue: #5e9ed6;
    --st-button-lightColor: #ee522f !important;
    --st-button-lightTextColor: white !important;
}

.calendar-dialog {
    max-width: 900px !important;
    width: 900px !important;
}

