@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");
@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';

@font-face {
    font-family: "Gilroy-Light";
    src: url("./fonts/Gilroy-Light.otf");
    font-weight: 400;
    font-display: swap;
}

html,
body,
#root {
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gilroy-Light", sans-serif;
}
