.card__element {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    outline: none;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #fff;
}

.card__element::placeholder {
    font-size: 14px;
    line-height: 1;
}

.card__column {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}
